.NoExistente {
  min-height: 100dvh;
  padding: 10px;
  background: linear-gradient(60deg, #e7e8ed, #d4d5da);

  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
}
.NoExistente img {
  width: clamp(100px, 15vw, 150px);
}
.NoExistente h1 {
  color: var(--ColorRojo);
  font-size: clamp(18px, 2.5vw, 20px);
  font-weight: var(--Bold);
  text-align: center;
  text-transform: uppercase;
}
.NoExistente p {
  color: var(--ColorRojo);
  font-size: clamp(14px, 2.5vw, 16px);
  text-align: center;
}
.NoExistente button {
  padding: 5px 20px;
  border-radius: 25px;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: var(--Bold);
  color: white;
  border: 2px solid var(--ColorRojo);
  background-color: var(--ColorRojo);
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  margin-top: 10px;
}