.PlantillaSuperAdmin {
  width: 100%;
  padding: 10px;
  height: 100dvh;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
@media (width <= 768px) {
  .PlantillaSuperAdmin {
    gap: 0;
  }
}
