.AlertaDePregunta {
  border-radius: 20px;
  padding: 10px;
}
.TituloDeAlerta {
  font-weight: var(--Bold);
  font-size: var(--TextoTitulo);
  padding: 0px;
}
.TituloDeAlerta.Principal {
  color: var(--ColorPrincipal);
}
.TituloDeAlerta.Rojo {
  color: var(--ColorRojo);
}
.TituloDeAlerta.Naranja {
  color: var(--ColorNaranja);
}
.ContenidoDeAlerta {
  margin-top: 10px;
  padding: 0px;
  color: var(--ColorGrisOscuro);
  font-size: var(--TextoAlerta);
}
/* .ContenidoDeAlerta.Rojo,
.ContenidoDeAlerta.Naranja {
} */
.BotonDeConfirmacion {
  transition: 0.3s ease all;
  color: var(--ColorBlanco);
  background-color: var(--ColorPrincipal);
  border-radius: 10px;
  margin: 0px;
  font-size: var(--TextoInput);
}
.BotonDeCancelar {
  border-radius: 10px;
}
.BotonDeConfirmacion:focus,
.BotonDeCancelar:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.BotonDeCancelar {
  transition: 0.3s ease all;
  background-color: transparent;
  color: var(--ColorRojo);
  font-size: var(--TextoInput);
}
.BotonDeCancelar:hover {
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
}
.BotonDeConfirmacion:hover {
  background-color: var(--ColorPrincipalHover);
}
.BotonDeConfirmacion.Rojo {
  background-color: var(--ColorRojo);
}
.BotonDeConfirmacion.Naranja {
  background-color: var(--ColorNaranja);
}
