.BotonMenuFlotante {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: var(--ColorPrincipal);
  color: var(--ColorBlanco);
  border: none;
  font-size: 0;
  font-weight: var(--Bold);
  cursor: pointer;
  transition: 0.3s ease all;

  z-index: var(--Maximo);
}
@media (width > 768px) {
  .BotonMenuFlotante {
    transform: scale(0);
  }
}
