.SinResultados {
  height: calc(100dvh - 75px);
  grid-column: 1 / -1;

  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
}
.SinResultados.Ajustado {
  height: 100dvh;
}
.SinResultados__Imagen {
  width: clamp(80px, 20vw, 100px);
  transition: var(--Transicion);
}
.SinResultados__Texto {
  color: var(--ColorRojo);
  font-size: var(--Texto18);
  font-weight: var(--Bold);
  white-space: pre-line;
}
