.SinResultados {
  grid-column: 1 / -1;
  height: 100%;

  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
}
.SinResultados__Imagen {
  width: clamp(80px, 20vw, 100px);
  transition: var(--Transicion);
}
.SinResultados__Texto {
  color: var(--ColorRojo);
  font-size: var(--Texto18);
  font-weight: var(--Bold);
  white-space: pre-line;
  word-break: break-all;
}
