/** Fuente **/
/* @font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter.ttf") format("truetype");
} */
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins.ttf") format("truetype");
}
/** Variables CSS **/
:root {
  /** Colores **/
  --ColorPrincipal: #1fa578;
  --ColorPrincipalHover: #178461;
  --ColorSecundario: #a8e5d1;
  --ColorRojo: #ca4f4f;
  --ColorRojoHover: #a53f3f;
  --ColorNaranja: #ff8c00;
  --ColorNaranjaHover: #ff6f00;
  --ColorVerde: #2e9e5b;
  --ColorVerdeHover: #237a47;
  --ColorAzul: #3f66dd;
  --ColorAzulHover: #5676df;
  --ColorBg: #e2e5ea;
  --ColorNegro: #171616;
  --ColorNegroHover: #2e2d2d;
  --ColorBlanco: #ffffff;
  --ColorGrisClaro: #e9e9e9;
  --ColorGrisOscuro: #6b6b6b;
  --BgGradiante: linear-gradient(60deg, var(--ColorBg), var(--ColorSecundario));
  /** Textos **/
  --TextoTitulo: clamp(20px, 2.5vw, 25px);
  --TextoSubtitulo: clamp(18px, 2.5vw, 20px);
  --Texto18: clamp(16px, 2.5vw, 18px);
  --Texto16: clamp(12px, 2.5vw, 16px);
  --Texto14: clamp(12px, 2.5vw, 14px);
  --Texto12: clamp(10px, 2.5vw, 12px);
  --Texto10: clamp(8px, 2.5vw, 10px);
  --Bold: 600;
  /** Indexs **/
  --Modal: 10;
  --Maximo: 9;
  /** Transiciones **/
  --Transicion: 0.3s ease all;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--ColorNegro);
}
body {
  transition: 0.3s ease background-color;
  background-color: var(--ColorBg);
  /* background: var(--BgGradiante); */
}
body,
input,
select,
button,
textarea,
a {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
li {
  list-style: none;
}
input {
  /* accent-color: var(--MainYellow); */
  outline: none;
}
input[type="file"] {
  display: none;
}
::-webkit-scrollbar {
  width: 5px; /* Ancho del scroll */
}
::-webkit-scrollbar-thumb {
  /* Color del scroll thumb */
  background-color: var(--ColorPrincipal);
}
::-webkit-scrollbar-track {
  background-color: var(--ColorBlanco); /* Color del track */
}
/* Para Chrome, Safari, Edge y otros navegadores basados en WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Estilo general si necesitas personalizar más */
input[type="number"] {
  appearance: none;
  outline: none;
}
