.ModalFormularios {
  position: fixed;
  inset: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;

  z-index: var(--Modal);
}
.ModalFormularios__Contenedor {
  position: relative;
  margin-left: auto;
  padding: 15px;
  width: 450px;
  height: 100%;
  border-radius: 20px;

  background-color: var(--ColorBlanco);
  border: none;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);

  transform: translateX(100%);
  opacity: 0;

  animation: AnimacionForms 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
@keyframes AnimacionForms {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.ModalFormularios__Contenedor--Encabezado {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ModalFormularios__Contenedor--Encabezado button {
  background-color: transparent;
  border: none;
  color: var(--ColorGrisOscuro);
  cursor: pointer;

  display: grid;
  place-items: center;
}
@media (width <= 500px) {
  .ModalFormularios__Contenedor {
    width: 100%;
  }
}
