.InputTextLogin {
  width: 100%;
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.InputTextLogin.Dos {
  grid-column: span 2;
}
.InputTextLogin.Tres {
  grid-column: span 3;
}
.InputTextLogin.Cuatro {
  grid-column: span 4;
}
.InputTextLogin.Completo {
  grid-column: 1 / -1;
}
.InputTextLogin__Contenido {
  position: relative;
  width: 100%;
}
.InputTextLogin__Contenido--Icono {
  position: absolute;
  height: 100%;
  width: 50px;
  color: var(--ColorPrincipal);

  display: flex;
  align-items: center;
  justify-content: center;
}
.InputTextLogin__Contenido--Icono.Derecha {
  top: 0;
  right: 0;
  cursor: pointer;
}
.InputTextLogin__Contenido--Input {
  width: 100%;
  height: 60px;
  padding: 10px 40px 10px 50px;
  border-radius: 50px;
  border: 2px solid var(--ColorBlanco);
  background-color: var(--ColorBlanco);
  font-size: var(--Texto16);
  outline: none;
  transition: border-color 0.3s;
}
/* .InputTextLogin__Contenido--Input.TextArea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
  height: 100px;
  max-height: 250px;
  padding: 10px;
} */
.InputTextLogin__Contenido--Label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: var(--Texto16);
  color: var(--ColorPrincipalHover);
  pointer-events: none;
  transition: 0.3s ease all;
  background-color: var(--ColorBlanco);
  padding: 0 5px;
}
.InputTextLogin__Contenido--Input:focus,
.InputTextLogin__Contenido--Input:not(:placeholder-shown) {
  border-color: var(--ColorPrincipal);
  color: var(--ColorPrincipal);
  font-weight: var(--Bold);
}
.InputTextLogin__Contenido--Input.SinBorde:focus,
.InputTextLogin__Contenido--Input.SinBorde:not(:placeholder-shown) {
  border-color: transparent;
}
.InputTextLogin__Contenido--Input:focus + .InputTextLogin__Contenido--Label,
.InputTextLogin__Contenido--Input:not(:placeholder-shown)
  + .InputTextLogin__Contenido--Label {
  top: 0;
  left: 10px;
  font-size: var(--Texto12);
  background-color: var(--ColorPrincipal);
  border: 2px solid var(--ColorPrincipal);
  color: var(--ColorBlanco);
}
.InputTextLogin__MensajeDeError {
  margin: 10px auto 0 10px;

  color: var(--ColorRojo);
  font-size: var(--Texto10);
  font-weight: var(--Bold);
}
