.InputPassword {
  width: 100%;
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.InputPassword.Dos {
  grid-column: span 2;
}
.InputPassword.Tres {
  grid-column: span 3;
}
.InputPassword.Cuatro {
  grid-column: span 4;
}
.InputPassword.Completo {
  grid-column: 1 / -1;
}
.InputPassword__Titulo {
  font-size: var(--Texto14);
  font-weight: var(--Bold);
  color: var(--ColorNegro);
}
.InputPassword__Input {
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--ColorGrisClaro);
  border: 1px solid transparent;
  transition: var(--Transicion);

  display: flex;
}
.InputPassword__Input:focus-within {
  border-color: var(--ColorPrincipal);
}
.InputPassword__Input:focus-within .InputPassword__Input--Icono {
  color: var(--ColorPrincipal);
}
.InputPassword__Input:focus-within .InputPassword__Input--Pass {
  color: var(--ColorPrincipal);
  font-weight: var(--Bold);
}
.InputPassword__Input--Icono {
  width: 50px;
  height: 100%;
  color: var(--ColorGrisOscuro);
  transition: var(--Transicion);

  display: grid;
  place-items: center;
}
.InputPassword__Input--Icono.Derecha{
  cursor: pointer;
}
.InputPassword__Input--Pass {
  width: 100%;
  border: none;
  background-color: transparent;
  line-height: 0;

  font-size: var(--Texto14);
  color: var(--ColorGrisOscuro);
}
.InputPassword__Input--Pass::placeholder {
  font-weight: normal;
  color: var(--ColorGrisOscuro);
}
.InputPassword__Validacion {
  color: var(--ColorRojo);
  font-size: var(--Texto10);
  font-weight: var(--Bold);
}
